In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix

In [2]:
from sklearn.metrics import f1_score
dataset=pd.read_csv(r'C:\Users\DEVIKA\Desktop\Project\University.csv')
print(len (dataset))
print(dataset.head())

754
    id                                instituionname  survey_year  playground  \
0  210            Sido Kanhu Murmu University, Dumka         2015           0
1  523                KING GEORGE MEDICAL UNIVERSITY         2015           1
2  569                   Burdwan University, Burdwan         2015           1
3  316  Marathwada Agricultural University, Parbhani         2015           1
4  160                Ch. Devi Lal University, Sirsa         2015           1

   auditorium  theatre  library  laboratory  conference_hall  health_center  \
0           0        0        1           1                0              1
1           1        1        1           1                1              1
2           1        0        1           1                1              1
3           1        0        1           1                1              1
4           1        1        1           1                1              1

   gymnasium_fitness_center  indoor_stadium  common_room  computer_center  \
0                         0               0            0                0
1                         1               0            1                1
2                         1               1            1                1
3                         1               1            1                1
4                         1               1            1                1

   cafeteria  Sum
0          0    3
1          1   11
2          0   10
3          1   11
4          1   12

In [3]:
print(dataset.tail())

      id                                     instituionname  survey_year  \
749  203              Birsa Agricultural University, Ranchi         2015
750  291                          Vikram University, Ujjain         2015
751  795  INDIAN INSTITUTE OF INFORMATION TECHNOLOGY, GU...         2015
752  205                    Indian School of Mines, Dhanbad         2015
753  330     Tata Institute of Fundamental Research, Mumbai         2015

     playground  auditorium  theatre  library  laboratory  conference_hall  \
749           1           1        0        1           1                1
750           1           1        0        1           1                1
751           0           0        0        1           1                1
752           1           1        1        1           1                1
753           1           1        0        1           1                1

     health_center  gymnasium_fitness_center  indoor_stadium  common_room  \
749              1                         1               0            1
750              1                         1               1            1
751              0                         0               0            0
752              1                         1               1            1
753              1                         1               0            1

     computer_center  cafeteria  Sum
749                1          1   10
750                1          1   11
751                0          1    4
752                1          1   12
753                1          1   10

In [4]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 754 entries, 0 to 753
Data columns (total 16 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   id                        754 non-null    int64
 1   instituionname            754 non-null    object
 2   survey_year               754 non-null    int64
 3   playground                754 non-null    int64
 4   auditorium                754 non-null    int64
 5   theatre                   754 non-null    int64
 6   library                   754 non-null    int64
 7   laboratory                754 non-null    int64
 8   conference_hall           754 non-null    int64
 9   health_center             754 non-null    int64
 10  gymnasium_fitness_center  754 non-null    int64
 11  indoor_stadium            754 non-null    int64
 12  common_room               754 non-null    int64
 13  computer_center           754 non-null    int64
 14  cafeteria                 754 non-null    int64
 15  Sum                       754 non-null    int64
dtypes: int64(15), object(1)
memory usage: 94.4+ KB

In [5]:
X=dataset.iloc[:,1:14]
X.head()

,instituionname,survey_year,playground,auditorium,theatre,library,laboratory,conference_hall,health_center,gymnasium_fitness_center,indoor_stadium,common_room,computer_center
0,"Sido Kanhu Murmu University, Dumka",2015,0,0,0,1,1,0,1,0,0,0,0
1,KING GEORGE MEDICAL UNIVERSITY,2015,1,1,1,1,1,1,1,1,0,1,1
2,"Burdwan University, Burdwan",2015,1,1,0,1,1,1,1,1,1,1,1
3,"Marathwada Agricultural University, Parbhani",2015,1,1,0,1,1,1,1,1,1,1,1
4,"Ch. Devi Lal University, Sirsa",2015,1,1,1,1,1,1,1,1,1,1,1

In [6]:
X=pd.get_dummies(X)
X=X.values
X

array([[2015,    0,    0, ...,    0,    0,    0],
       [2015,    1,    1, ...,    0,    0,    0],
       [2015,    1,    1, ...,    0,    0,    0],
       ...,
       [2015,    0,    0, ...,    0,    0,    0],
       [2015,    1,    1, ...,    0,    0,    0],
       [2015,    1,    1, ...,    0,    0,    0]], dtype=int64)

In [7]:
Y=dataset.iloc[:,-1]
Y

0       3
1      11
2      10
3      11
4      12
       ..
749    10
750    11
751     4
752    12
753    10
Name: Sum, Length: 754, dtype: int64

In [8]:
from sklearn.model_selection import train_test_split

In [9]:
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,)

In [10]:
from sklearn.neighbors import KNeighborsClassifier

In [11]:
KNN = KNeighborsClassifier()

In [12]:
KNN.fit(X_train,Y_train)

KNeighborsClassifier()

In [13]:
Y_predict=KNN.predict(X_test)
Y_test

666    11
416    10
198    12
91     12
271     9
       ..
252    11
369    10
234    11
6      12
712    10
Name: Sum, Length: 189, dtype: int64

In [14]:
from sklearn.metrics import confusion_matrix, classification_report

In [15]:
print('classification',classification_report(Y_test,Y_predict))

classification               precision    recall  f1-score   support

           0       0.67      1.00      0.80         4
           1       0.33      0.50      0.40         2
           2       0.00      0.00      0.00         1
           3       0.00      0.00      0.00         3
           4       0.25      1.00      0.40         1
           5       0.00      0.00      0.00         5
           6       0.25      0.40      0.31         5
           7       0.00      0.00      0.00        10
           8       0.25      0.20      0.22         5
           9       0.79      0.76      0.78        25
          10       0.83      0.76      0.79        33
          11       0.82      1.00      0.90        42
          12       1.00      1.00      1.00        53

    accuracy                           0.78       189
   macro avg       0.40      0.51      0.43       189
weighted avg       0.75      0.78      0.76       189

C:\Users\DEVIKA\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1248: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\DEVIKA\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1248: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\DEVIKA\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1248: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))